<div
  style='font-family: Arial, sans-serif; text-align: center; background-color: #e1e1e1;'
>
  <div
    style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);'
  >
    <h1 style='color: #333333;'>Welcome to DTEX</h1>
    <p style='font-size: 18px; color: #555555;'>Chúc mừng bạn đã đăng ký tài khoản thành công.</p>
    <p style='font-size: 18px; color: #555555;'>Vui lòng truy cập theo đường dẫn để sử dụng dịch vụ http://dtex.duckdns.org</p>
    <p style='font-size: 18px; color: #555555;'>Thông tin tài khoản đăng nhập:</p>
    <p style='font-size: 18px; color: #555555;'>Email:
      <span style='font-size: 24px; font-weight: bold; color: #007bff;'>{{email}}</span>
    </p>
    <p style='font-size: 18px; color: #555555;'>Password:
      <span style='font-size: 24px; font-weight: bold; color: #007bff;'>{{password}}</span>
    </p>

  </div>
</div>